.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.fields {
  margin-bottom: 5px;
}

.fields input[type="text"] {
  height: 2rem;
  width: 15rem;
  border-radius: 10px;
}

.fields button {
  height: 2rem;
  width: 4rem;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  background-color: #ebebeb;
  padding: 1rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.result img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}